<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <table>
        <tr><!--
            <td><img src="/static/gas-pump.jpg" alt="" height="50"></td>-->
            <td>
                <h1>Calculadora</h1>
            </td>
        </tr>
      <tr>
        <td>
          <h2>
            Muy probablemente funcione este pedo chafamente
          </h2>
        </td>
      </tr>
    </table>
    {% block body %}
    {% endblock %}
</body>
</html>